body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background-color: aquamarine;
}

.recipe-title {
  background-color: rgb(104, 134, 124);
}

.description {
  color: aliceblue;
  background-color: rgb(79, 79, 116);
}