body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background-color: aquamarine;
}

.recipe-title {
  background-color: rgb(104, 134, 124);
}

.description {
  color: aliceblue;
  background-color: rgb(79, 79, 116);
}

h1 {
  text-align: center;
  background-color: aquamarine;
}

ul li {
  height: 25px;
  list-style-type: none;
  text-align: center;
}